@model CafeManagementSystem.ViewModel.Users.AddUserViewModel

@{
    ViewData["Title"] = "Add Users";
}

<div class="pink-container">
    <main class="main-content position-relative border-radius-lg ps ps--active-y" style="height: auto;">   
        
        <!-- Add User Form -->
        <div class="c-admin">
            <h2 class="f-title f-t-admin">
                Add New User
            </h2>

            <form autocomplete="off" 
                asp-action="Add" 
                method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label asp-for="TenantId" class="f-label"></label>
                <input asp-for="TenantId" class="f-Input" type="number" placeholder="Enter tenant Id" /> </br>
                <span asp-validation-for="TenantId" class="f-span text-danger"></span></br>

                <label asp-for="Fname" class="f-label"></label>
                <input asp-for="Fname" class="f-Input" type="text" placeholder="Enter your user name" /> </br>
                <span asp-validation-for="Fname" class="f-span text-danger"></span></br>

                <label asp-for="Lname" class="f-label"></label>
                <input asp-for="Lname" class="f-Input" type="text" placeholder="Enter your user name" /> </br>
                <span asp-validation-for="Lname" class="f-span text-danger"></span></br>

                <label asp-for="UserName" class="f-label"></label>
                <input asp-for="UserName" class="f-Input" type="text" placeholder="Enter your user name" /> </br>
                <span asp-validation-for="UserName" class="f-span text-danger"></span></br>

                <label asp-for="phoneNumber" class="f-label"></label>
                <input asp-for="phoneNumber" class="f-Input" type="text" placeholder="Enter your phone number" /> </br>
                <span asp-validation-for="phoneNumber" class="f-span text-danger"></span></br>

                <label asp-for="password" class="f-label"> Password </label>
                <input asp-for="password" class="f-Input" type="password" placeholder="Enter your password" /> </br>
                <span asp-validation-for="password" class="f-span text-danger"></span></br>

                <label asp-for="confirmPassword" class="f-label"> Confirm Password </label>
                <input asp-for="confirmPassword" class="f-Input" type="password" placeholder="Enter your password again" /> </br>
                <span asp-validation-for="confirmPassword" class="f-span text-danger"></span></br>

                <button type="submit" class="f-btn"> Add User </button>
            </form>
        </div>
    </main>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial">
}




