body {
    font-family: "Poppins";
    user-select: none;
}


@font-face {
    font-family: "Poppins";
    src: url("~/fonts/BalooChettan2-Medium.ttf");
}

.E-container{
    width:1100px; 
}
.E-img{
    width: 400px;
    margin:auto; 
    display:block; 
}
